Extract, summarise and export information from CSV files to a list

Your task is to prepare a function that will return a list of aggregated data from provided CSV files located in the ./data/folder. The CSV files contains historical prices of traded shares of fictional companies. The filename of each file reflects the name of a fictional company. All data sets have the same structure and consist of six columns:

• date - a specific trading date in the format 'YYYY-MM-DD';

• open, max, min, close – the opening, maximum, minimum and closing prices, respectively;

• vol - volume (number of shares traded during a given day).

Task details

Create a function named solution that takes as an argument a list of paths to one or more of the provided files. The function should return a list of several nested lists. The length of the returned list equals the length of the list of paths passed to the function. Each nested list consists of two data frames with aggregated data for the individual company:

• first data frame: highest trading volume values in individual years o contains two columns: date - the date of the day with the highest trading volume in a year (parsed as a datetime, in the format 'YYYY-MM-DD'), and vol - the actual volume of shares traded in that day, o the number of rows of the data frame should be equal to the number of years in the history of the given company;

• second data frame: days of highest closing prices in individual years o contains two columns: date - the date of the day with the highest closing prices in a year (parsed as a datetime, in the format "YYYY-MM-DD'), and close - the actual closing price; if the same closing price occurred on more than one day in a given year, you should include them all with their full dates, o the number of rows of the data frame might be greater than the equivalent dimension for the first data frame.

In [1]:
import pandas as pd
import os
import pprint

# create a list for all files in the directory "data"
path = r"C:\Users\henri\Downloads\data"
fpath = [os.path.join(path, f) for f in os.listdir(path)]

In [2]:
fpath

['C:\\Users\\henri\\Downloads\\data\\framp.csv',
 'C:\\Users\\henri\\Downloads\\data\\gnyned.csv',
 'C:\\Users\\henri\\Downloads\\data\\gwoomed.csv',
 'C:\\Users\\henri\\Downloads\\data\\hoilled.csv',
 'C:\\Users\\henri\\Downloads\\data\\plent.csv',
 'C:\\Users\\henri\\Downloads\\data\\throwsh.csv',
 'C:\\Users\\henri\\Downloads\\data\\twerche.csv',
 'C:\\Users\\henri\\Downloads\\data\\veeme.csv']

In [3]:
def solution(files):
    # creating an empty list
    mainlist=[]
    # iterating over a list of paths
    for f in files:
        sublist = []
        # reading the content of a single file
        df = pd.read_csv(f)
        # convering the "data" column to "to_datatime"
        df['date'] = pd.to_datetime(df['date'])
        # indices of the dataframe entries with maximum "vol" per "year" 
        idxvol = df.groupby(df['date'].dt.year)['vol'].transform(max) == df['vol']
        # filtered entires with maximum "vol" per "year" 
        yvmax = df[idxvol].drop(['open','min','max','close'],axis=1)
        yvmax.reset_index(drop=True, inplace = True)
        #gyv = df.groupby(df['date'].dt.year)['vol']
        # indices of the dataframe entries with maximum "close" per "year" 
        idxclose = df.groupby(df['date'].dt.year)['close'].transform(max) == df['close']
        # filtered entires with maximum "close" per "year" 
        ycmax = df[idxclose].drop(['open','min','max','vol'],axis=1)
        ycmax.reset_index(drop=True, inplace = True)
        # adding the entires to the sublist
        sublist.append(yvmax)
        sublist.append(ycmax)
        # adding the entires to the mainlist
        mainlist.append(sublist)
    return mainlist

main = solution(fpath)

pp = pprint.PrettyPrinter(indent=0)
pp.pprint(main)

[[         date        vol
0  2005-08-23  306208914
1  2005-09-23  306208914
2  2006-05-31   28831088
3  2007-02-01   18388511
4  2008-05-14   24150048
5  2009-02-06   35246018
6  2010-05-26   54335576
7  2011-08-31   35866126
8  2012-11-06   59381774
9  2013-10-10   38320297
10 2014-04-09   21251451
11 2015-11-30   17545094
12 2016-06-28   17390752
13 2017-02-16   17621885
14 2018-09-21   28281682
15 2019-01-09    9451453,
         date   close
0  2005-09-29  2.8489
1  2006-05-11  2.8489
2  2007-10-23  4.5976
3  2008-01-08  4.1227
4  2009-07-30  3.6434
5  2010-11-12  3.2556
6  2011-07-07  3.8671
7  2011-07-08  3.8671
8  2012-12-28  4.4573
9  2013-08-07  5.7230
10 2014-09-23  4.7138
11 2015-10-08  6.4497
12 2016-08-11  5.4336
13 2017-08-28  6.8750
14 2017-08-30  6.8750
15 2018-12-07  7.0000
16 2019-01-23  7.5100],
[        date       vol
0 2017-07-27  26463407
1 2018-11-30  13974809
2 2019-01-08    782333,
        date   close
0 2017-09-15  35.007
1 2018-01-08  33.081
2 2019-01-02  21.580],
[         date      vol
0  2009-06-25  4169894
1  2010-03-09  1577806
2  2011-03-18   510597
3  2012-11-16   501326
4  2013-06-21   301582
5  2014-12-23   359617
6  2015-09-14   688905
7  2016-03-23   368830
8  2017-11-02   263079
9  2018-10-02   142918
10 2019-01-23    35019,
         date    close
0  2009-10-12   62.856
1  2010-10-28   92.381
2  2010-12-15   92.381
3  2011-03-17  104.800
4  2012-12-20  119.170
5  2013-11-21  123.820
6  2013-11-22  123.820
7  2014-02-24  114.060
8  2015-01-13   94.100
9  2016-11-14   71.424
10 2017-03-21   82.567
11 2018-01-09   70.700
12 2019-01-18   56.500],
[         date       vol
0  1998-11-18  11251873
1  1999-01-21   6076014
2  2000-11-08  20275328
3  2001-10-11   8838297
4  2002-05-17  11420120
5  2003-08-29  14271971
6  2004-04-13  13512836
7  2005-12-21  19321890
8  2006-10-25  20104484
9  2007-01-18  48282672
10 2008-10-21  24485887
11 2009-04-29  25906163
12 2010-06-14  32060819
13 2011-06-15  30848637
14 2012-10-17  49111144
15 2013-02-12  46010028
16 2014-10-14  23583305
17 2015-12-17  24893525
18 2016-02-17  11408138
19 2017-02-14  41522468
20 2018-09-21  13507224
21 2019-01-23   3794962,
         date    close
0  1998-12-23   8.2768
1  1998-12-28   8.2768
2  1999-07-15  13.7030
3  2000-02-29  18.7090
4  2001-01-04  13.1900
5  2002-01-09   8.3506
6  2003-08-27   7.8339
7  2003-09-02   7.8339
8  2004-12-31   9.2572
9  2005-09-19  12.2970
10 2005-09-20  12.2970
11 2005-10-03  12.2970
12 2006-12-18  12.2050
13 2007-12-07  13.0750
14 2008-08-05  13.6030
15 2009-01-21  11.7170
16 2010-10-05  12.5810
17 2011-11-30  13.5550
18 2012-08-16  13.8180
19 2013-01-07  10.3280
20 2014-09-19  10.7110
21 2015-05-27   9.4586
22 2015-05-28   9.4586
23 2016-03-30   6.5482
24 2017-09-01   6.1000
25 2018-01-22   6.3600
26 2019-01-17   5.5000],
[         date     vol
0  2004-10-29  681289
1  2005-10-07  268690
2  2006-01-31  285801
3  2007-06-18  229924
4  2008-09-04  164968
5  2009-05-13  257104
6  2010-02-22  165316
7  2011-11-30  189252
8  2012-10-15   87597
9  2013-07-31   86191
10 2014-09-05  124624
11 2015-12-10   82283
12 2016-03-01  411227
13 2017-07-28   64303
14 2018-06-08   38814
15 2019-01-16   22818,
         date    close
0  2004-11-05   38.149
1  2005-02-04   40.177
2  2006-12-18   43.350
3  2007-07-16  147.160
4  2008-03-07  123.250
5  2009-12-28   82.781
6  2010-01-06   82.094
7  2011-06-02   91.435
8  2011-06-09   91.435
9  2011-06-10   91.435
10 2012-04-17  106.080
11 2013-12-02  208.820
12 2014-12-30  222.250
13 2015-05-06  257.400
14 2016-08-09  299.700
15 2017-05-31  328.530
16 2018-01-09  312.380
17 2019-01-23  217.000],
[         date       vol
0  1997-07-10   7190075
1  1998-02-09   3968369
2  1999-07-07   6231927
3  2000-01-14   5259179
4  2001-10-11   7681942
5  2002-01-10   4323656
6  2003-08-27   6453973
7  2004-11-05  12269671
8  2005-02-18   9256851
9  2006-01-31  13121030
10 2007-12-21   4762132
11 2008-10-08   9739822
12 2009-01-07   7718665
13 2010-05-19   4731855
14 2011-11-21   7672480
15 2012-01-12   5346985
16 2013-06-21   4851686
17 2014-04-09   4868791
18 2015-01-14   3939615
19 2016-11-10   4233466
20 2017-01-12   3183435
21 2018-09-21   3796857
22 2019-01-09    804877,
         date     close
0  1997-10-22    8.4273
1  1998-02-09    5.4130
2  1998-04-30    5.4130
3  1999-07-09    9.8670
4  2000-02-25   11.4410
5  2001-01-29    8.7326
6  2001-01-30    8.7326
7  2002-01-22    5.9593
8  2003-10-15    9.1826
9  2004-10-11   13.3590
10 2005-12-29   23.4350
11 2006-05-11   49.1240
12 2007-10-15   66.2150
13 2008-02-27   51.8610
14 2009-12-04   66.2720
15 2010-12-31  106.8400
16 2011-07-07  127.6300
17 2011-07-15  127.6300
18 2012-12-19  161.5100
19 2013-01-03  160.6700
20 2013-01-04  160.6700
21 2014-08-27  129.7100
22 2015-05-13  123.1300
23 2016-12-08   97.0870
24 2017-02-21  134.3100
25 2018-01-15  115.0000
26 2019-01-18   92.4800],
[         date      vol
0  1997-07-01  3240026
1  1998-11-03  1047549
2  1999-07-15  3829036
3  2000-01-18  1351917
4  2001-01-23   103433
5  2002-02-13    90521
6  2003-01-27    54890
7  2004-02-11   314531
8  2005-07-15  3087428
9  2006-10-17  2107085
10 2007-01-10  1777609
11 2008-11-25  2620568
12 2009-11-09  5736950
13 2010-01-05  1684660
14 2011-04-05  1520443
15 2012-06-15   436408
16 2013-06-21   970199
17 2014-03-21   589648
18 2015-07-10   430244
19 2016-02-02   187133
20 2017-09-15   582322
21 2018-09-21   569514
22 2019-01-10   107028,
         date   close
0  1997-10-22  22.278
1  1998-07-20  32.673
2  1998-07-23  32.673
3  1999-07-14  30.127
4  2000-01-27  31.785
5  2001-12-31  27.157
6  2002-05-17  32.037
7  2002-11-22  32.037
8  2002-11-25  32.037
9  2003-01-07  31.740
10 2004-03-03  30.127
11 2004-03-04  30.127
12 2004-03-17  30.127
13 2005-12-27  34.029
14 2006-12-29  46.075
15 2007-05-28  72.991
16 2008-01-02  54.885
17 2009-12-22  44.524
18 2010-12-15  60.278
19 2011-04-11  63.969
20 2011-04-13  63.969
21 2011-04-14  63.969
22 2011-04-15  63.969
23 2012-12-11  69.092
24 2012-12-12  69.092
25 2013-10-21  93.089
26 2013-10-22  93.089
27 2014-10-07  97.740
28 2015-04-30  87.593
29 2016-03-31  75.097
30 2017-12-29  77.526
31 2018-02-01  80.953
32 2019-01-22  70.900],
[        date     vol
0 2011-05-10  973320
1 2012-03-27  332852
2 2013-05-24  442705
3 2014-01-09  185840
4 2015-10-23  245446
5 2016-01-11  188318
6 2017-09-06  386808
7 2018-07-10  484683
8 2019-01-10   67706,
        date    close
0 2011-11-30   41.937
1 2012-04-12   49.180
2 2013-11-20   87.304
3 2014-12-03  113.410
4 2015-11-26  184.060
5 2016-09-16  245.480
6 2017-08-01  340.560
7 2018-01-03  259.330
8 2019-01-17  182.200]]